services:
  simplynote:
    build: .
    container_name: simplynote
    ports:
      - "18888:8000"
    volumes:
#      - ./app:/app
      - ./config:/config
      - ./data:/data
      - ./ui/dist:/app/ui/dist
    environment:
      ADMIN_USER: "msktoge"
      ADMIN_PASS: "bassist1"
      BASE_PATH: "/simplynote"
  
  ## build済みの本番環境では不要
  ## その場合nginxのproxy_passも18888に変更する
  simplynote-ui:
    image: node:20
    container_name: simplynote-ui
    working_dir: /ui
    volumes:
      - ./ui:/ui
#    command: sh -c "npm install && npm run dev"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
#    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --strictPort false"
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:18888
      - VITE_BASE_PATH=/simplynote
    depends_on:
      - simplynote

