## 事前に手動のコンパイル必要
## cd ui && npm run build

services:

  simplynote-api:
    container_name: simplynote-api
    build: .
    ports:
      - "18888:8000"
    volumes:
#      - ./app:/app
      - ./data:/data
    environment:
      - ADMIN_USER=msktoge
      - ADMIN_PASS=bassist1
      - BASE_PATH=/simplynote-api


  simplynote-ui:
    container_name: simplynote-ui
    image: node:20
    ports:
      - "15173:5173"
    volumes:
      - ./ui:/ui
    depends_on:
      - simplynote-api
    working_dir: /ui
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
#    command: sh -c "npm install && npm run build"                      # 本番用？
    environment:
      - VITE_BASE_PATH=/simplynote
      - VITE_API_URL=/simplynote-api

