services:

  simplynote-api:
    container_name: simplynote-api
    restart: always
    ports:
      - "18888:8000"
##    build: ./api                           # comment for Dev
##    volumes:                               # comment for Dev
##      - ./api/data:/data                   # comment for Dev
    environment:
      TZ: Asia/Tokyo
      ADMIN_USER: admin
      ADMIN_PASS: password
      BASE_PATH: /simplynote-api

    # ----------------------------------------------------------
    # for Develop
    # ----------------------------------------------------------
    volumes:
      - ./api/src:/api
      - ./api/data:/data
      - ./api/requirements.txt:/requirements.txt
    image: python:3.12-slim
    working_dir: /
    command: >
      sh -c "pip install -r requirements.txt &&
             uvicorn api.main:app --host 0.0.0.0 --port 8000 --proxy-headers --forwarded-allow-ips=\"*\""

  # ----------------------------------------------------------

  simplynote-ui:
    container_name: simplynote-ui
    restart: always
    ports:
      - "15173:5173"
##    build: ./ui                                # comment for Dev
##    volumes:
##      - ./ui/config.json:/ui/dist/config.json  # comment for Dev

    # ----------------------------------------------------------
    # for Develop
    # ----------------------------------------------------------
    image: node:20
    volumes:
      - ./ui:/ui
    environment:
      - VITE_HOST_NAME=myhost.example.com
    working_dir: /ui
    command: >
      sh -c "npm install && npm run dev -- --host 0.0.0.0"

