services:

  simplynote-api:
    container_name: simplynote-api
    build: ./api
    restart: always
    ports:
      - "18888:8000"
    volumes:
      - ./data:/data
    environment:
      TZ: Asia/Tokyo
      ADMIN_USER: admin
      ADMIN_PASS: password
      BASE_PATH: /simplynote-api
      SWAGGER_API_DOCS: false
      EXPIRE_ACCESS_TOKEN_MINUTES: 60
      EXPIRE_REFRESH_TOKEN_DAYS: 30

  simplynote-ui:
    container_name: simplynote-ui
    build: ./ui
    restart: always
    ports:
      - "15173:5173"
    depends_on:
      - simplynote-api
    environment:
      - VITE_BASE_PATH=/simplynote
      - VITE_API_URL=/simplynote-api


