services:

  api:
    container_name: simplynote-api
    ports:
      - "18888:8000"
    restart: always
    environment:
      TZ: Asia/Tokyo
      ADMIN_USER: admin                      # for My Setting
      ADMIN_PASS: password                   # for My Setting
      BASE_PATH: /simplynote-api
      NODE_OPTIONS: --max-old-space-size=256
    build: ./api
    volumes:
      - ./api/data:/data

  ui:
    container_name: simplynote-ui
    ports:
      - "15173:5173"
    restart: always
    build:
      context: ./ui
      args:
        VITE_HOST_NAME: www.example.com
        VITE_BASE_PATH: /simplynote/
    volumes:
      - ./ui/config.json:/usr/share/nginx/html/config.json:ro

