services:

  simplynote-api:
    container_name: simplynote-api
##    restart: always                        # for Dev
##    build: ./api                           # for Dev
##    volumes:                               # for Dev
##      - ./api/data:/data                   # for Dev
    ports:
      - "18888:8000"
    environment:
      TZ: Asia/Tokyo
      ADMIN_USER: admin
      ADMIN_PASS: password
      BASE_PATH: /simplynote-api
      EXPIRE_ACCESS_TOKEN_MINUTES: 60
      EXPIRE_REFRESH_TOKEN_DAYS: 30

    # for Develop
    volumes:
      - ./api/src:/api
      - ./api/data:/data
      - ./api/requirements.txt:/requirements.txt
    image: python:3.12-slim
    working_dir: /
    command: >
      sh -c "pip install -r requirements.txt &&
             uvicorn api.main:app --host 0.0.0.0 --port 8000 --proxy-headers --forwarded-allow-ips=\"*\""


  simplynote-ui:
    container_name: simplynote-ui
    image: node:20                           # for Dev
##    restart: always                        # for Dev
##    build: ./ui                            # for Dev
    ports:
      - "15173:5173"
#    depends_on:                              # for Dev
#      - simplynote-api                       # for Dev

    # for Develop
    volumes:
      - ./ui:/ui
    environment:
      - VITE_HOST_NAME=myhost.example.com
    working_dir: /ui
    command: >
      sh -c "npm install && npm run dev -- --host 0.0.0.0"

